body {
  background-color: #fff;

  font-family: 'Raleway', sans-serif;

  text-decoration: none;
}



.center {
  text-align: center;
  font-size: 15em;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;


  text-transform: uppercase;
  font-weight: normal;
}

#no {
    color:red;
}

#yes {
    color: green;
}